.nav {
    background-color: #000000;
}


.finin{
    background-color:rgb(255, 196, 0) !important;
    height: 4px;
}

table {
    font-size: 12px;
}

/* botões de opção da lista de funcionários*/
.options_list_user {
    background-color: #000000d3 !important;
    border-radius: 20px !important;
    padding: 7px;
    padding-left: 10px !important;
    width: auto !important;
    height: auto !important;
    font-size: 25px !important;
}

.opt {
  padding: 10px;
  font-size: 30px !important;
  color: rgb(255, 255, 255);
}

.opt:hover{
  padding: 10px;
  font-size: 30px !important;
  color: rgb(255, 196, 0) !important;
  font-weight: bold !important;
}
/* fim botões de opção da lista de funcionários*/



.logo {
    width: 40px;
    height: auto;
    margin-top: 7px;
}

.box {
    width: 90% !important;
    height: 50%;
}



/*########### CONTROLE ENTREGA UNIFORMES ###########*/
.uniforme-content {
  display: flex;
  justify-content: space-between;
}

.uniforme-check {
  font-size: 33px;
}

.uniforme-nome {
  font-size: 20px !important;
  width: 40%;
}

.quantity {
  font-size: 20px;
  text-align: center;
  width: 45% !important;
}

.ico {
  width: 30px;
  height: max-content;
  float: right !important;
}
/*---------------- CONTROLE ENTREGA UNIFORMES ---------------*/




/*########### CADASTRO FUNCIONÁRIOS ###########*/
.barra_etapa {
    background-color: #000000 !important;
    border-radius: 10px;
    font-size: 15px !important;

}

#here {
    font-weight: bold;
    font-size: 25px !important;
    color: rgb(255, 196, 0);
}

.select-funcionario, .dropdown-content {
  background-color: #0000009a !important;
  color: white !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/*---------------- CADASTRO FUNCIONÁRIOS ---------------*/

.footer {
    bottom: 0;
    width: 100%;
}


/* floating button */
.haha {
  background-color: rgba(0, 0, 0, 0.493);
  padding: 3px !important;
  padding-top: 15px !important;
  border-radius: 10px;
  font-size: 20px !important;
  user-select: none;
}

.fixed-action-btn {
  user-select: none;
}
/* fim floating button */




/* inicio estilo menu-home */

.menu-inicial-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cada coluna tem no mínimo 100px de largura, mas pode se expandir conforme necessário */
  gap: 10px; /* Espaço entre as divs */
  max-width: 800px; /* Largura máxima do contêiner */
  margin: 0 auto; /* Centralizar o contêiner na página */
}

.menu-home-item {
  background-color: #233c4d; /* Cor de fundo das divs */
  color: #fff; /* Cor do texto nas divs */
  padding: 10px; /* Espaçamento interno das divs */
  text-align: center; /* Centralizar texto */
  border-radius: 8px;
}

.titulo-content {
  text-align: left;
  font-weight: bold;
}

.icone-content {
  float: left;
  user-select: none;
}

.item-icone {
  font-size: 80px !important;
  user-select: none;

}

/* inicio estilo menu-home */




/*inicio Estilo do campo de busca da tela listaFuncionarios */
.search-bar {
  margin-left: 14px !important;
}

.input-search  {
  width: 150px !important;
  height: 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px !important;
  float: left;
}

.busca-func {
  height: 28px !important;
  width: 55px !important;
  padding-left: 5px !important;
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 5px !important;
}

.button.butao-limpa, .close-input  {
  color: grey !important;
}

.butao-limpa, .butao-limpa:active, .butao-limpa:focus, .butao-limpa:hover  {
  background-color: rgba(107, 107, 107, 0);
  border: none;
  font-size: 25px !important;
  margin-left: -5px !important;
}

/*fim Estilo do campo de busca da tela listarFuncionarios*/




.butao {
    background-color: #000000 !important;
    color: #fff !important;
    padding: 5px 5px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    display: inline-flex !important;
    align-items: center !important; /* Alinha o ícone verticalmente */
    font-weight: bold;
    width: 120px !important;
    height: 40px !important;
}

.material-icons.prefix {
    font-size: 20px !important;
}

.material-icons.prefix:active {
    color:rgb(255, 196, 0) !important;
}

.btnopcao {
    color: grey !important;
    font-size: 30px !important;
    text-align: center !important;
}
.btnopcao:hover {
    color: rgb(255, 196, 0) !important;
    font-size: 30px !important;
    text-align: center;
}

.search {
    background-color: #000000 !important;
    color: white;
    border-radius: 5px !important;
    height: 45px;
}

.search:hover {
  background-color: #000000 !important;
  color: rgb(255, 196, 0) !important;
  border-radius: 5px !important;
}

h5 {
  color: grey;
}

.tabs .tab a {
    color: #ffffff !important; /* Cor do texto quando não selecionado */
    background-color: #000000;
  }
  
  .tabs .tab a:hover {
    background-color: #000000 !important; /* Cor de fundo ao passar o mouse */
    font-weight: bold !important;
  }
  
  .tabs .tab a.active {
    background-color: #000000 !important; /* Cor de fundo quando selecionado */
    font-weight: bold !important; /* Cor do texto quando selecionado */
    color: rgb(255, 196, 0) !important;
  }

  .tabs .indicator {
    background-color: rgb(255, 196, 0) !important;
  }

  .textarea {
    height: 180px;
    font-size: 20px;
  }

  .menu:hover{
    color: rgb(255, 196, 0) !important;
  }

  .patrolSideNavImage {
    height: auto;
    width: 70% !important;
  }


  /* -------- ESTILO MENU SUSPENDO OPT USUÁRIOS (LOGOUT) -----*/
  .botao-acc {
    display: flex;
    justify-content: end;
  }

  .menu-perfil {
    background-color: #000000d3 !important;
    width: 175px !important;
    color: white !important;
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
  }

  .lista-menu-suspenso-opt:active {
    background-color: #000000f3 !important;
  }

  .lista-menu-suspenso-opt:hover {
    background-color: #000000f3 !important;
  }

  .a-menu-suspenso-opt {
    color: white !important;
  }
  /* -------- ESTILO MENU SUSPENDO OPT USUÁRIOS (LOGOUT) -----*/



  li:hover {
    color:rgb(255, 196, 0) !important;
  }

  legend {
    color: #000000 !important;
    font-weight: bold !important;
  }

  /* estilo da tela de login*/

  .todo-login {
    width: 80%;
  }

  .input-login {
    height: 40px;
    width: 80%;
    border-radius: 7px;
    font-size: 25px;
  }

  .recupera-senha {
    color: rgb(255, 196, 0);
  }

  .submitLogin {
    width: 25%;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
  }

  .submitLogin:active {
    width: 25%;
    height: 40px;
    background-color: black;
    color: rgb(255, 196, 0);
    font-weight: bold;
    border-radius: 7px;
  }

  /* fim dos estilos da tela de login*/

  