.nav {
    background-color: #26a69a;
}

.btnopcao {
    color: #26a69a;
    font-size: 200% !important;
}

.box {
    width: 90% !important;
    height: 50%;
}

.genero {
    width: 40% !important;
    float: center;
}

p {
    font-weight: bold;
    font-size: small;
}

.admissao {
    width: 30% !important;
    text-align: left !important;
}

.userDados {
    display: grid;
    grid-template-columns: repeat(2, 100fr); /* Cria 2 colunas com largura igual */
    gap: 1%;
}

.unidcarniv {
    display: grid;
    grid-template-columns: repeat(2, 100fr);
    gap: 10%;
}

.unifcarg {
    display: grid;
    grid-template-columns: repeat(3, 100fr);
    gap: 5%;
}

.tabelaExibe {
    float: center;
}

.page-footer {
    background-color: #26a69a !important;
}

input[type="text"] {
    text-transform: uppercase !important;
}

input[type="email"] {
    text-transform: uppercase !important;
}