.nav {
    background-color: #000000;
}

.finin{
    background-color:rgb(255, 196, 0) !important;
    height: 4px;
}

table {
    font-size: 12px;
}

.options_list_user {
    background-color: #ffffff !important;
    width: 25px !important;
    text-align: center !important;
    align-items: center!important;
    align-content: center !important;
    align-tracks: center !important;
    vertical-align: center !important;
    border-radius: 7px !important;
    color: rgb(255, 255, 255) !important;
}

.logo {
    width: 40px;
    height: auto;
    margin-top: 7px;
}

.box {
    width: 90% !important;
    height: 50%;
}

.labSelect {
    font-size: 100% !important;
    float: left !important;
    font-weight: bold;
    color: #000000;
}

.barra_etapa {
    background-color: #000000 !important;
    border-radius: 10px;
    font-size: 15px !important;

}

#here {
    font-weight: bold;
    font-size: 25px !important;
    color: rgb(255, 196, 0);
}

.page-footer {
    background-color: #000000 !important;
}

.butao {
    background-color: #000000 !important;
    color: #fff !important;
    padding: 5px 5px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    display: inline-flex !important;
    align-items: center !important; /* Alinha o ícone verticalmente */
    font-weight: bold;
    width: 120px !important;
    height: 40px !important;
}

.material-icons.prefix {
    font-size: 20px !important;
}

.material-icons.prefix:active {
    color:rgb(255, 196, 0) !important;
}

.btnopcao {
    color: #000000 !important;
    font-size: 30px !important;
    text-align: center;
}
.btnopcao:hover {
    color: rgb(255, 196, 0) !important;
    font-size: 30px !important;
    text-align: center;
    font-weight: bold;
}

.search {
    background-color: #000000 !important;
    color: white;
    border-radius: 5px !important;
    height: 45px;
}

.search:hover {
    background-color: #000000 !important;
    color: rgb(255, 196, 0) !important;
    border-radius: 5px !important;
}

.tabs .tab a {
    color: #ffffff !important; /* Cor do texto quando não selecionado */
    background-color: #000000;
  }
  
  .tabs .tab a:hover {
    background-color: #000000 !important; /* Cor de fundo ao passar o mouse */
    font-weight: bold !important;
  }
  
  .tabs .tab a.active {
    background-color: #000000 !important; /* Cor de fundo quando selecionado */
    font-weight: bold !important; /* Cor do texto quando selecionado */
    color: rgb(255, 196, 0) !important;
  }

  .tabs .indicator {
    background-color: rgb(255, 196, 0) !important;
  }

  .textarea {
    height: 180px;
    font-size: 20px;
  }

  .menu:hover{
    color: rgb(255, 196, 0) !important;
  }

  label {
    font-size: 15px !important;
    font-weight: bold !important;
  }

  label:hover {
    font-size: 15px !important;
    color: rgb(255, 196, 0) !important;
  }

  .menu-perfil {
    background-color: #000000 !important;
    width: 15% !important;
    color: white !important;
    a {
        color: white !important;
    }
  }

  li:hover {
    color:rgb(255, 196, 0) !important;
  }

  legend {
    color: #000000 !important;
    font-weight: bold !important;
  }